* {
  box-sizing: border-box;
}

div img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

.margin {
  margin: 0;
}

p {
}

/* ***********************************************************************side-bar***************************************************************** */

.dashboard {
  display: flex;
  background-color: #f9fafb;
  gap: 16;
  /* position: relative; */
}

.side-bar {
  position: fixed;
  background-color: white;
  overflow-y: scroll;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 18%;
}

.side-bar .container {
  padding-inline: 10px;
  padding-block: 20px;
}

.all-main {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
}

.title h1 {
  margin: 0;
}
.title p {
  margin: 0;
}

.icon-title {
  background-color: #3e3ce2;
  color: white;
  width: 25%;
  text-align: center;
  padding-top: 20px;
  margin-left: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 10px 10px 35px -10px rgba(49, 77, 238, 1);
  -webkit-box-shadow: 10px 10px 35px -10px rgba(49, 77, 238, 1);
  -moz-box-shadow: 10px 10px 35px -10px rgba(49, 77, 238, 1);
}

.icon-title i {
  font-size: 20px;
}

.Main {
  display: flex;
  /* margin: 10 px; */
}

.all-main {
  margin-top: 30px;
}
.all-main .Main:nth-child(1) {
  background-color: #eff6ff;
  border: #dbeafe 1px solid;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 20px;
  color: #155dfc;
}

.all-main .Main:nth-child(1) p {
  margin: 0;
}

.all-main .Main:nth-child(1) i {
  margin-left: 10px;
}

.all-main .Main:nth-child(2) {
  padding: 20px;
  color: gray;
}

.all-main .Main:nth-child(2) p {
  margin: 0;
}

.all-main .Main:nth-child(2) i {
  margin-left: 10px;
}

.all-main .Main:nth-child(3) {
  padding: 20px;
  color: gray;
}

.all-main .Main:nth-child(3) p {
  margin: 0;
}

.all-main .Main:nth-child(3) i {
  margin-left: 10px;
}

.all-main .Main:nth-child(4) {
  padding: 20px;
  color: gray;
}

.all-main .Main:nth-child(4) p {
  margin: 0;
}

.all-main .Main:nth-child(4) i {
  margin-left: 10px;
}

.all-main .Main:nth-child(5) {
  padding: 20px;
  color: gray;
}

.all-main .Main:nth-child(5) p {
  margin: 0;
}

.all-main .Main:nth-child(5) i {
  margin-left: 10px;
}

.send-money {
  display: flex;
  gap: 8px;
}

.send-money-icon {
  background-color: #eff6ff;
  border-radius: 10px;
  border: #dbeafe 1px solid;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 25%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.inner-quick-actions .send-money:nth-child(1) {
  padding: 20px;
}

.inner-quick-actions .send-money:nth-child(1) i {
  color: #155dfc;
}

.inner-quick-actions .send-money:nth-child(2) {
  padding: 20px;
}

.inner-quick-actions .send-money:nth-child(2) i {
  color: #36ba67;
}

.send-money-icon1 {
  background-color: #d5f3e1;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 25%;
}

.inner-quick-actions .send-money:nth-child(3) {
  padding: 20px;
}

.inner-quick-actions .send-money:nth-child(3) i {
  color: #9810fa;
}

.send-money-icon2 {
  background-color: #efe0fc;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 25%;
}

.inner-quick-actions .send-money:nth-child(4) {
  padding: 20px;
}

.inner-quick-actions .send-money:nth-child(4) i {
  color: #f54a00;
}

.send-money-icon3 {
  background-color: #fce5d5;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: 25%;
}

/* *********************************************************end-side-bar****************************************************** */

.all-content {
  display: flex;
  margin-right: 240px;
  padding: 35px;
  width: 100%;
}

.all-content .container {
  width: 100%;
  margin: 0;
}

/* .background{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
} */

.head {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
  background-color: #fcfeff;
  border: gray 1px solid;
  border-radius: 20px;
  /*width: 70%;*/
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  -webkit-border-radius: ;
}

.title1 {
  display: flex;
  margin-left: 25px;
  gap: 16px;
  /* width: 50%; */
}

.title1 h1 {
  margin: 0;
}
.title1 p {
  margin: 0;
}

.icon-head {
  /*width: 30%;
  */
  background-color: #3e3ce2;
  color: white;
  box-shadow: 10px 10px 35px -10px rgba(49, 77, 238, 1);
  margin: 10px;
  /*width: 30%;
  */
  font-size: 20px;
  border-radius: 15px;
  padding: 15px;
  /*align-self: center;
  */
  -webkit-border-radius: 15px;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  -webkit-border-radius: ;
}

.icon-head i {
  /* height: fit-content; */
}

.online {
  color: #008236;
  padding: 10px;
  border-radius: 10px;
  /*width: 10%;
  */
  background-color: #f0fdf4;
  border: #dbfce7 1px solid;
  align-self: center;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
  display: flex;
}

.online p {
  margin: 0;
  /* width: 25%; */
}

.dot {
  align-self: center;
  margin-left: 10px;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: green;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.search-notificacion {
  display: flex;
  gap: 8px;
  /* justify-content: end; */
}

.notification button {
  color: #4a5565;
  background-color: #f9fafb;
  border: gray 1px solid;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.notification {
  position: relative;
}

.number-of-notification {
  position: absolute;
  top: -10px;
  right: -5px;
  color: white;
  background-color: red;
  border-radius: 15px;
  /*padding: 5px;*/
  width: 50%;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.search button {
  color: #4a5565;
  background-color: #f9fafb;
  border: gray 1px solid;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.right-side-action {
  display: flex;
  gap: 4px;
  /* width: 25%; */
  align-items: center;
}

.user-profile {
  padding: 4px;
  display: flex;
  justify-content: end;
  border: 1px gray solid;
  border-radius: 20px;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.user-profile h3 {
  margin: 0;
}

.user-profile p {
  margin: 0;
}

.img {
  /* width: 40%; */
  margin-right: 5px;
}
.img img {
  width: 50px;
  border-radius: 30px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

/* *******************************************************************end-head****************************************************************** */

.all-cards {
  display: grid;
  grid-template-areas: "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3";
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 8px;
}

.card-1 {
  border: 1px black solid;
  background-color: white;
  grid-area: card-1;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.card-1 p:nth-of-type(1) {
  color: #6a7282;
}

.card-1 p:nth-of-type(2) {
  font-size: 25px;
  font-weight: bold;
}

.card-1 span:nth-of-type(1) {
  color: #00aa69;
}

.card-2 {
  border: 1px black solid;
  background-color: white;
  grid-area: card-2;
  padding: 20px;
  border-radius: 20px;
}

.card-2 p:nth-of-type(1) {
  color: #6a7282;
}

.card-2 p:nth-of-type(2) {
  font-size: 25px;
  font-weight: bold;
}

.card-2 span:nth-of-type(1) {
  color: #00aa69;
}

.card-3 {
  border: 1px black solid;
  background-color: white;
  grid-area: card-3;
  padding: 20px;
  border-radius: 20px;
}

.card-3 p:nth-of-type(1) {
  color: #6a7282;
}

.card-3 p:nth-of-type(2) {
  font-size: 25px;
  font-weight: bold;
}

.card-3 span:nth-of-type(1) {
  color: #e7000b;
}

/* *************************************************************end-first-section************************************************************************* */

.info {
  display: grid;
  grid-template-areas:
    "notification-card notification-card notification-card notification-card table table table table table table table table "
    "monthly-bills monthly-bills monthly-bills monthly-bills table table table table table table table table"
    "budget-overview budget-overview budget-overview budget-overview income income income income payment-methods-card payment-methods-card payment-methods-card payment-methods-card"
    "budget-overview budget-overview budget-overview budget-overview account-summary account-summary account-summary account-summary payment-methods-card payment-methods-card payment-methods-card payment-methods-card"
    /* ". . . . . . . . . . . ." */
    ;
  gap: 8px;
  grid-template-rows: auto auto 15%;
 
  /* align-items: start; */
}

.notification-card {
  border: #e5e7eb 1px solid;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  /* width: fit-content; */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* grid-area:notification-card; */
}

.all-notification-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.first1 {
  display: flex;
  background-color: #eff6ff;
  border-left: #155dfc 2px solid;
  border-radius: 20px;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-first {
  background-color: #dbeafe;
  color: #155dfc;
  height: fit-content;
  border-radius: 50px;
  padding: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.title11 {
  display: flex;
  justify-content: space-between;
}

.title11 span {
  color: #265dfc;
}

.first2 {
  display: flex;
  margin-top: ;
  background-color: #f0fdf4;
  border-left: #00c951 2px solid;
  border-radius: 20px;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-first2 {
  background-color: #dbfce7;
  color: #00a63e;
  height: fit-content;
  border-radius: 50px;
  padding: 5px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.title2 {
  display: flex;
  justify-content: space-between;
}

.title2 span {
  color: #00a63e;
}

.btn-show {
  align-self: center;
}

.btn-show button {
  background-color: transparent;
  border: none;
  color: #1447e6;
  cursor: pointer;
}

/* ***********************************************************************table******************************************** */

.flex {
  display: flex;
  justify-content: space-between;
}

.inner-table {
  width: 100%;
}

.inner-table table {
  width: 100%;
}

.table {
  background-color: white;
  border-radius: 20px;
  border: gray 1px solid;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  grid-area: table;
}

table p {
  margin: 0;
}

table h4 {
  margin: 0;
}
thead {
  text-align: right;
}

table {
  border-collapse: separate;
  border-spacing: 0 25px;
  /* border-bottom: gray 1px solid; */
}

thead {
  /* border-collapse: collapse; */
  border-bottom: 1px gray solid;
}

.first-row {
  display: flex;
  /* width: 10%; */
}

.table-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.table-img img {
  width: 40px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.icon-table {
  background-color: #ffedd4;
  color: #f54a00;
  border-radius: 20px;
  padding: 10px;
  /* width: 10%; */
  height: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-table2 {
  background-color: #dbeafe;
  color: #155dfc;
  border-radius: 20px;
  padding: 10px;
  /* width: 10%; */
  height: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-table3 {
  background-color: #ffe2e2;
  color: #e7000b;
  border-radius: 20px;
  padding: 10px;
  /* width: 10%; */
  height: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-table4 {
  background-color: #e0e7ff;
  color: #4f39f6;
  border-radius: 20px;
  padding: 10px;
  /* width: 10%; */
  height: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-table5 {
  background-color: #cefafe;
  color: #0092b8;
  border-radius: 20px;
  padding: 10px;
  /* width: 10%; */
  height: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-table6 {
  background-color: #d0fae5;
  color: #009966;
  border-radius: 20px;
  padding: 10px;
  /* width: 10%; */
  height: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.type p {
  background-color: #dbfce7;
  border-radius: 20px;
  color: #016630;
  padding: 5px;
  width: fit-content;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.type2 p {
  background-color: #ffedd4;
  border-radius: 20px;
  color: #9f2d00;
  padding: 5px;
  width: fit-content;
}

.type3 p {
  background-color: #dbeafe;
  border-radius: 20px;
  color: #1945ba;
  padding: 5px;
  width: fit-content;
}

.type4 p {
  background-color: #f3e8ff;
  border-radius: 20px;
  color: #6e11b0;
  padding: 5px;
  width: fit-content;
}

.type5 p {
  background-color: #dbfce7;
  border-radius: 20px;
  color: #016630;
  padding: 5px;
  width: fit-content;
}

.type6 p {
  background-color: #ffe2e2;
  border-radius: 20px;
  color: #9f0712;
  padding: 5px;
  width: fit-content;
}

.type7 p {
  background-color: #e0e7ff;
  border-radius: 20px;
  color: #372aac;
  padding: 5px;
  width: fit-content;
}

.type8 p {
  background-color: #cefafe;
  border-radius: 20px;
  color: #005f78;
  padding: 5px;
  width: fit-content;
}

.type9 p {
  background-color: #d0fae5;
  border-radius: 20px;
  color: #006045;
  padding: 5px;
  width: fit-content;
}

.completed p {
  border-radius: 20px;
  background-color: #dbfce7;
  color: #0f6b30;
  width: fit-content;
  padding: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.pendding p {
  background-color: #fef9c2;
  border-radius: 20px;
  color: #894b00;
  padding: 5px;
  width: fit-content;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.color-g {
  color: #00a63e;
  font-weight: bold;
}

/* **********************************************************************end-table*********************************************************************** */

.monthly-bills {
  grid-area: monthly-bills;
  background-color: white;
  border: gray 1px solid;
  border-radius: 20px;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.total {
  text-align: center;
}

.total p:nth-child(1) {
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

.total p:nth-child(2) {
  color: #6a7686;
  font-size: 15px;
  margin: 0;
}

.inner-monthly-bills {
  display: grid;
  grid-template-areas:
    "wifi wifi electric electric"
    "phone phone tv tv";
  gap: 4px;
  margin-top: 10px;
}

.wifi {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: wifi;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.wifi p {
  margin: 2px;
}

.wifi p:nth-of-type(1) {
  color: #6a7282;
}

.wifi p:nth-of-type(2) {
  font-weight: bold;
}

.wifi p:nth-of-type(3) {
  color: #fb3336;
}

.wifi-icon {
  background-color: #dbeafe;
  color: #155dfc;
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.electric {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: electric;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.electric p {
  margin: 2px;
}

.electric p:nth-of-type(1) {
  color: #6a7282;
}

.electric p:nth-of-type(2) {
  font-weight: bold;
}

.electric p:nth-of-type(3) {
  color: #ff6900;
}

.electric-icon {
  background-color: #fef9c2;
  color: #d08700;
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.phone {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: phone;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.phone p {
  margin: 2px;
}

.phone p:nth-of-type(1) {
  color: #6a7282;
}

.phone p:nth-of-type(2) {
  font-weight: bold;
}

.phone p:nth-of-type(3) {
  color: #12c951;
}

.phone-icon {
  background-color: #dbfce7;
  color: #00a63e;
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tv {
  background-color: #f9fafb;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: tv;
  padding: 5px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.tv p {
  margin: 2px;
}

.tv p:nth-of-type(1) {
  color: #6a7282;
}

.tv p:nth-of-type(2) {
  font-weight: bold;
}

.tv p:nth-of-type(3) {
  color: #6a7282;
}

.tv-icon {
  background-color: #dbfce7;
  color: #00a63e;
  border-radius: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ******************************************************************************************************************* */

.total-budget {
  background-color: #eff5ff;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.budget-overview {
  grid-area: budget-overview;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.inner-total-budget {
}

.inner-total-budget div:nth-child(1) p:nth-child(1) {
  color: #155dfc;
}

.inner-total-budget div:nth-child(1) p:nth-child(2) {
  color: #1c398e;
  font-weight: bold;
  font-size: 20px;
}

.inner-total-budget div:nth-child(2) p:nth-child(1) {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: end; */
  /* align-items: end; */
  /* align-self: flex-end; */
  color: gray;
  margin: 0;
}

.inner-total-budget div:nth-child(2) p:nth-child(2) {
  color: #00a63e;
  font-weight: bold;
  font-size: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bar1 {
  width: 100%;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.bar2 {
  width: 82.5%;
  height: 10px;
  border-radius: 10px;
  background-color: #4a73ff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.entertainment {
  background-color: #fcfcfd;
  border: 1px gray solid;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
}

.inner-entertainment {
  display: flex;
}

.inner-entertainment p {
  margin: 0;
}

.inner-entertainment div:nth-child(2) p:nth-child(1) {
  font-weight: bold;
}

.inner-entertainment div:nth-child(2) p:nth-child(2) {
  color: #6a7282;
  font-size: 13px;
}

.entertainment-icon {
  background-color: #ffedd4;
  color: #f54a00;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  font-size: 20px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text p:nth-child(1) {
  font-weight: bold;
  margin: 0;
}

.text p:nth-child(2) {
  background-color: #dcfce7;
  color: #166534;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.entertainment .text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bar3 {
  width: 100%;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.bar4 {
  width: 50%;
  height: 10px;
  border-radius: 10px;
  background-color: #ff6900;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bills {
  background-color: #fcfcfd;
  border: 1px gray solid;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
}

.inner-bills {
  display: flex;
}

.inner-bills p {
  margin: 0;
}

.inner-bills div:nth-child(2) p:nth-child(1) {
  font-weight: bold;
}

.inner-bills div:nth-child(2) p:nth-child(2) {
  color: #6a7282;
  font-size: 13px;
}

.bills-icon {
  background-color: #fee2e2;
  color: #e7000b;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  font-size: 20px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text p:nth-child(1) {
  font-weight: bold;
  margin: 0;
}

.bills .text p:nth-child(2) {
  background-color: #fee2e2;
  color: #9e1b1b;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bills .text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bar5 {
  width: 100%;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.bar6 {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: #fb2c36;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.personal-health {
  background-color: #fcfcfd;
  border: 1px gray solid;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
}

.inner-personal-health {
  display: flex;
}

.inner-personal-health p {
  margin: 0;
}

.inner-personal-health div:nth-child(2) p:nth-child(1) {
  font-weight: bold;
}

.inner-personal-health div:nth-child(2) p:nth-child(2) {
  color: #6a7282;
  font-size: 13px;
}

.personal-health-icon {
  background-color: #fce7f3;
  color: #e60076;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  font-size: 20px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text p:nth-child(1) {
  font-weight: bold;
  margin: 0;
}

.personal-health .text p:nth-child(2) {
  background-color: #fef3c7;
  color: #92400e;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.personal-health .text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bar7 {
  width: 100%;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.bar8 {
  width: 80%;
  height: 10px;
  border-radius: 10px;
  background-color: #f6339a;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.supplies {
  background-color: #fcfcfd;
  border: 1px gray solid;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
}

.inner-supplies {
  display: flex;
}

.inner-supplies p {
  margin: 0;
}

.inner-supplies div:nth-child(2) p:nth-child(1) {
  font-weight: bold;
}

.inner-supplies div:nth-child(2) p:nth-child(2) {
  color: #6a7282;
  font-size: 13px;
}

.supplies-icon {
  background-color: #dcfce7;
  color: #00a63e;
  padding: 5px;
  border-radius: 5px;
  height: fit-content;
  font-size: 20px;
  margin-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.text p:nth-child(1) {
  font-weight: bold;
  margin: 0;
}

.supplies .text p:nth-child(2) {
  background-color: #dcfce7;
  color: #166534;
  border-radius: 10px;
  padding: 5px;
  width: fit-content;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}

.supplies .text {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.bar9 {
  width: 100%;
  background-color: #e5e7eb;
  height: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-bottom: 10px;
}

.bar10 {
  width: 86%;
  height: 10px;
  border-radius: 10px;
  background-color: #00c951;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* ******************************************************-bills-************************************************************************************* */

.income {
  grid-area: income;
  background-color: #FFFFFF;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.income-charts{
  display: flex
;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}


.info-charts {
  display: flex;
  justify-content: space-evenly;
}

.income-info {
  display: flex;
}

.income-info p {
  margin: 0;
}

.about-income-info {
  width: 10px;
  height: 10px;
  border-radius: 2px ;
  margin-left: 5px;
  background-color: #10b981;
  -webkit-border-radius: 2px ;
  -moz-border-radius: 2px ;
  -ms-border-radius: 2px ;
  -o-border-radius: 2px ;
}

.about-expenses-info {
  width: 10px;
  height: 10px;
  border-radius: 2px ;
  margin-left: 5px;
  background-color: #EF4444;
}


.expenses-info{
  display: flex;
}

.expenses-info p {
  margin: 0;
}


.charts-group{
  display: flex;
  justify-content: center;
  gap: 16px
  ;
}


.bars1{
  display: flex;
  gap: 8px;
  /* justify-content: center; */
}

.chart1{
  height: 95px;
  width: 15px;
  background-color: #EF4444;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chart2{
  height: 45px;
  width: 15px;
  background-color:#10b981 ;
  align-self:flex-end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}





/* ****************************************************************end-income************************************************************* */




.payment-methods-card{
  grid-area: payment-methods-card;
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  border-radius: 10px;
  padding: 10px;
  height: 615px;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}




.flip-card-1{
  /* position: relative; */
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform-style: preserve-3d;
}


.flip-card-1:hover{
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}



.front , .back-card{
  position: absolute;
  top: 0;
  bottom: 0;  
  right: 0;
  left: 0; 
}

.front{
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.back-card{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}


.inner-flip-card{
  background-color: #372AAC;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}


.inner-flip-card p{
color: white;
}


.top-card{
display: flex;
justify-content: space-between;
align-items: center;
}

.sign{
  background-color:lightblue ;
  width: 30px;
  height: 25px;
  padding: 5px;
  border: radius 5px; ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}

.inner-sign{
  background-color: blue;
  width: 20px;
  height: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.visa-icon{
  background-color: #372AAC;
  color:white;
  font-size: 30px;
}




.flip-info p{
/* margin: 0; */
}


.flip-info div p{
  margin: 0;
}

.flip-info p:nth-child(1){
  font-size: 20px;
}


.absolute{
  position: absolute;
  top: 2px;
  left: 10px;

  border-radius: 10px;
  color: white;
  padding: 5px;
  backdrop-filter: blur(3px);
   background-color: rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.absolute p{
  margin: 0;
}




.inner-back-card{
display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(120deg, #051026, #0b1220 45%, #0f1724);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.linear-gradient{
  border-radius: 5px ;
  width: 100%;
  align-self: center;
  height: 20px;
  background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}


.back-card-info{
  font-size: 10px;
  color: gray;
  margin-top: 5px;
}



.back-card .flex{
  background-color: #F5F7FA;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.linear-gradient2{
  background: linear-gradient(90deg, #E6E7EA, #C9CCCE, #DFE3E7);
  width: 100%;
  height: 15px;
  border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}



.cvv{
  display: flex;
  color: white;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-top: 24px;
}


.cvv1{
  font-size: 10px;
}
.cvv-box{
  background-color: #FFFFFF;
  border-radius: 10px;
  color: black;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}





























.flip-card-2{
  position: relative;
  top: 180px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform-style: preserve-3d;
}


.flip-card-2:hover{
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}



.front1 , .back-card{
  position: absolute;
  top: 0;
  bottom: 0;  
  right: 0;
  left: 0; 
}

.front1{
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.back-card{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}


.inner-flip-card1{
  background-color: #C70036;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}


.inner-flip-card1 p{
color: white;
}


.top-card{
display: flex;
justify-content: space-between;
align-items: center;
}

.sign1{
  background-color:#DF6D8C ;
  width: 30px;
  height: 25px;
  padding: 5px;
  border: radius 5px; ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}

.inner-sign1{
  background-color: #E4859E;
  width: 20px;
  height: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.mastercard{
  background-color: #C70036;
  color:white;
  font-size: 30px;
}




.flip-info p{
/* margin: 0; */
}


.flip-info1 div p{
  margin: 0;
}

.flip-info1 p:nth-child(1){
  font-size: 20px;
}


.inner-back-card{
display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(120deg, #051026, #0b1220 45%, #0f1724);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.linear-gradient{
  border-radius: 5px ;
  width: 100%;
  align-self: center;
  height: 20px;
  background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}


.back-card-info{
  font-size: 10px;
  color: gray;
  margin-top: 5px;
}



.back-card .flex{
  background-color: #F5F7FA;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.linear-gradient2{
  background: linear-gradient(90deg, #E6E7EA, #C9CCCE, #DFE3E7);
  width: 100%;
  height: 15px;
  border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}



.cvv{
  display: flex;
  color: white;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-top: 24px;
}


.cvv1{
  font-size: 10px;
}
.cvv-box{
  background-color: #FFFFFF;
  border-radius: 10px;
  color: black;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}



















.flip-card-3{
  position: relative;
  top: 360px;
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transform-style: preserve-3d;
}


.flip-card-3:hover{
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}



.front2 , .back-card{
  position: absolute;
  top: 0;
  bottom: 0;  
  right: 0;
  left: 0; 
}

.front2{
  z-index: 1;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}


.back-card{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}


.inner-flip-card2{
  background-color: #193CB8;
  border-radius: 10px;
  padding: 15px;
  position: relative;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}


.inner-flip-card2 p{
color: white;
}


.top-card{
display: flex;
justify-content: space-between;
align-items: center;
}

.sign2{
  background-color:#4763C6 ;
  width: 30px;
  height: 25px;
  padding: 5px;
  border: radius 5px; ;
  -webkit-border-radius:5px ;
  -moz-border-radius:5px ;
  -ms-border-radius:5px ;
  -o-border-radius:5px ;
}

.inner-sign2{
  background-color: #91A1DD;
  width: 20px;
  height: 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.paypal{
  background-color: #193CB8;
  color:white;
  font-size: 30px;
}


.special p:nth-child(2) {
color: greenyellow;
}



.flip-info p{
/* margin: 0; */
}


.flip-info2 div p{
  margin: 0;
}

.flip-info2 h3{
  font-size: 22px;
  color: white;
}


.inner-back-card{
display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(120deg, #051026, #0b1220 45%, #0f1724);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.linear-gradient{
  border-radius: 5px ;
  width: 100%;
  align-self: center;
  height: 20px;
  background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}


.back-card-info{
  font-size: 10px;
  color: gray;
  margin-top: 5px;
}



.back-card .flex{
  background-color: #F5F7FA;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.linear-gradient2{
  background: linear-gradient(90deg, #E6E7EA, #C9CCCE, #DFE3E7);
  width: 100%;
  height: 15px;
  border-radius: 5px ;
  -webkit-border-radius: 5px ;
  -moz-border-radius: 5px ;
  -ms-border-radius: 5px ;
  -o-border-radius: 5px ;
}



.cvv{
  display: flex;
  color: white;
  justify-content: flex-end;
  text-transform: uppercase;
  margin-top: 24px;
}


.cvv1{
  font-size: 10px;
}
.cvv-box{
  background-color: #FFFFFF;
  border-radius: 10px;
  color: black;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}













































































/* **********************************************************end************************************************************************************* */







.account-summary{
  height: fit-content;
}




.all-accounts{
  display: flex;
  flex-direction: column;
  gap: 16px;
}





.account-summary{
  grid-area: account-summary;
  border-radius: 20px;
  /*align-items: start;
  */background-color: #FFFFFF;
  padding: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}




.current-account{
  display: flex;
  background-color: #F9FAFB;
  justify-content: space-between;
  border: lightgrayx solid;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.current-account-info{
  display: flex;
  align-items: center;
}

.current-account-icon{
  background-color: #DBEAFE;
  color: #155DFC;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  height: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.current-account-info p {
margin: 0;
}
.current-account-info p:nth-child(1){
  font-weight: bold;
}
.current-account-info p:nth-child(2){
  color: gray;
  font-size: 13px;
}


.current-account p{
  font-weight: bold;
}





.saving-account{
  display: flex;
  background-color: #F9FAFB;
  justify-content: space-between;
  border: lightgrayx solid;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}


.saving-account-info{
  display: flex;
  align-items: center;
}

.saving-account-icon{
  background-color: #DBEAFE;
  color: #155DFC;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  height: fit-content;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.saving-account-info p {
margin: 0;
}
.saving-account-info p:nth-child(1){
  font-weight: bold;
}
.saving-account-info p:nth-child(2){
  color: gray;
  font-size: 13px;
}




.credit-card{
  display: flex;
  background-color: #F9FAFB;
  justify-content: space-between;
  border: lightgrayx solid;
  border-radius: 10px;
  padding: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}


.credit-card-info{
  display: flex;
  align-items: center;
}

.credit-card-icon{
  background-color: #DBEAFE;
  color: #155DFC;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  height: fit-content;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.credit-card-info p {
margin: 0;
}
.credit-card-info p:nth-child(1){
  font-weight: bold;
}
.credit-card-info p:nth-child(2){
  color: gray;
  font-size: 13px;
}


.credit-card p{
  font-weight: bold;
}
