/* 2XL */
@media screen and (max-width:1536px) {
    
}

/* XL */
@media screen and (max-width:1280px) {
    
}

/* Lg */
@media screen and (max-width:1024px) {
    .side-bar p {
        display: none;
    }


    .side-bar {
    position: fixed;
    background-color: white;
    overflow-y: scroll;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    }
    .side-bar h3{
        display: none;
    }


    .side-bar h1{
        display: none;

    }

    .side-bar{
        width: fit-content;
    }

    .all-content{
        margin-right: 100px;
    }

    .icon-title{
        width: 80%;
        padding: 20px;
    }
    .send-money-icon{
        width: 100%;
        padding: 10px;
    }


    .send-money-icon1{
        width: 100%;
        padding: 10px;
    }
    .send-money-icon2{
        width: 100%;
        padding: 10px;
    }
    .send-money-icon3{
        width: 100%;
        padding: 10px;
    }
    .all-main .Main:nth-child(1){
        padding: 15px;
        display: block;
        width: fit-content;
        /* align-self: center; */
        margin-right: 5px;
    }


    .all-main .Main:nth-child(1) i{
        margin-left: 0;
        width: fit-content;
    }



    .side-bar .container{
        padding:0;
        margin-top:10px ;
        margin-right: 10px;
    }

    .all-cards {
        display: grid;
        grid-template-areas: "card-1 card-1 card-1 card-1 card-2 card-2 card-2 card-2 card-3 card-3 card-3 card-3";
    }
    .info{
        display: grid;
        grid-template-areas: 
        /* "" */
        "notification-card notification-card notification-card notification-card notification-card notification-card income income income income income income"
        "table table table table table table table table table table table table"
        "monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills account-summary account-summary account-summary account-summary account-summary account-summary"
        "budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card "
        
        ;
        /* grid-template-columns: 50% 50% 100%; */
    }


.notification-card{
    /* width: 100%; */
}
.income{
    /* width: 100%; */
}

.right-side-action {
/* width: fit-content; */
}

.head{
    font-size: 17px;
}


}



/* md */
@media screen and (max-width:768px) {
    .all-content{
        /* margin-right: 70px; */
        margin: auto;
        width: 100%;
    }
    .head{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

        .right-side-action {
        /* width: fit-content; */
        justify-content: space-between;
        width: none ;
    }

    .all-cards {
        display: grid;
        grid-template-areas: 
        "card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1" 
        "card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2" 
        "card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3"
        ;
    }
    .info{
        display: grid;
        grid-template-areas: 
        /* "" */
        "notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card" 
        "table table table table table table table table table table table table "
        "monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills"
        "budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview"
        "income income income income income income income income income income income income"
        "account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary"
        "payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card"
        
        ;
        /* grid-template-columns: 100% ; */
        grid-template-rows: auto auto 10% ;
    }
.notification-card{
    width: 140%; 
}


thead th:nth-child(3){
    display: none;
}

thead th:nth-child(4){
    display: none;
}

thead th:nth-child(5){
    display: none;
}


tbody tr td:nth-child(3){
display: none;
}


tbody tr td:nth-child(4){
display: none;
}




tbody tr td:nth-child(5){
display: none;
}

.side-bar{
    display: none;
}


}



/* sm */
@media screen and (max-width:640px) {
    .all-content{
        /* margin-right: 70px; */
    }
    .head{
        display: flex;
        flex-direction: column;
    }

        .right-side-action {
        /* width: fit-content; */
        justify-content: space-between;
        width: none ;
    }

    .all-cards {
        display: grid;
        grid-template-areas: 
        "card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1 card-1" 
        "card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2 card-2" 
        "card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3 card-3"
        ;
    }
    .info{
        display: grid;
        grid-template-areas: 
        /* "" */
        "notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card notification-card" 
        "table table table table table table table table table table table table "
        "monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills monthly-bills"
        "budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview budget-overview"
        "income income income income income income income income income income income income"
        "account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary account-summary"
        "payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card payment-methods-card"
        
        ;
        /* grid-template-columns: 100% ; */
        grid-template-rows: auto auto 10% ;
    }
.notification-card{
    /* width: 200%;  */
}

}