* {
  box-sizing: border-box;
}

div img {
  width: 100%;
  display: inline-block;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

.margin{
  margin: 0;
}


.color-red{
  color: red;
}

/* *******************************************************navbar************************************** */

.Navbar {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 999;
}
.Navbar .container {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: black 1px solid;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
}

.links {
  width: 45%;
}
.head h1 {
  margin: 0;
}
.head span {
  color: #ff6900;
}
.links .fa-solid {
  font-size: 10px;
  margin: 5px;
  color: #d1d5dc;
}

.links ul {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.links a {
  color: black;
}
.links a:hover {
  color: #ff7a50;
}

.btn button {
  height: 40px;
  border-radius: 20px;
  background-color: #ffd15b;
  font-weight: 600;
}

.btn {
  transition: transform 0.2s;
}
.btn:hover {
  transform: translate(5px, 5px);
}

.fa-bars{
  box-shadow: 10px 10px 0px -7px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -7px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -7px rgba(13,12,12,1);
  background-color: white;
  font-size: 20px;
  height: 45px;
  width: 45px;
  padding-top: 10px;
  border: 1px black solid;
  border-radius: 5px;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.fa-bars:hover{
  transform: translate(0 , -5px);
  -webkit-transform: translate(0 , -5px);
  -moz-transform: translate(0 , -5px);
  -ms-transform: translate(0 , -5px);
  -o-transform: translate(0 , -5px);
}
.replace-btn{
  display: none;
}

/* *****************************************************end-navbar**************************************** */

/* *******************************************************left-content**************************************************************** */
.first-section {
  background-color: #fff085;
  position: relative;
  border: 2px solid black;
  padding-top: 140px;
  position: relative;
}
.first-section .container {
  display: flex;
  flex-wrap: wrap;
}

.lift-content {
  /* width: 30%; */
}
.lift-content {
    width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.first {
  /* width: 50%; */
  position: relative;
  transform: rotate(-3deg);
  z-index: 2;
  width: 25%;
}

.square1 {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 60;
  left: 40;
  background-color: black;
  transform: rotate(12deg);
  opacity: 0.2;
  z-index: 1;
}
.first p {
  color: white;
  background-color: black;
  box-shadow: 5px 5px 5px black;
}


.second {
  width: 70%;
  font-size: 50px;
  text-shadow: 5px 5px 5px black;
}

.second h2 {
  margin: 0;
}

.second .span1 {
  color: #e7000b;
}

.second .span2 {
  color: #155dfc;
}

.third {
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 20px;
  width: 55%;
  padding: 10px;
}

.fourth {
  display: flex;
  margin-bottom: 10px;
  transform: scale(1.2);
  margin-left: 65px;
  margin-bottom: 50px;
}

.fourth .btn1 {
  width: 25%;
  margin-right: 10px;
  position: relative;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}

.fourth .btn1::after {
  content: "";
  border: 8px solid black;
  /* border-left: none; */
  width: 125px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}

.fourth .btn1 button {
  background-color: black;
  color: white;
  height: 50px;
  border: 3px black solid;
  position: absolute;
  transition: transform 0.2s;
}

.fourth .btn1 button:hover {
  transform: translate(5px, 5px);
}

.fourth .btn2 {
  width: 25%;
  position: relative;
  bottom: 5px;
  right: 5px;
  z-index: 1;
}

.fourth .btn2::after {
  content: "";
  border: 8px solid black;
  /* border-left: none; */
  width: 110px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 5;
  left: 5px;
  z-index: -1;
}
.fourth .btn2 button:hover {
  transform: translate(5px, 5px);
}

.fourth .btn2 button {
  /*box-shadow: 5px 5px 5px black;
    */
  border: 3px black solid;
  height: 50px;
  transition: transform 0.2s;
}

/* ************************************************************end-left-content******************************************* */

/* ***********************************************************right-content**************************************************************** */

.right-content {
  width: 40%;
  position: relative;
  margin-top: 50px;
}

.img {
  /*width: 100%;
  */position: relative;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  
}

/* .img::after {
  content: "";
  border: 8px solid black;
  border-left: none;
  border-top: none;
  width: 435px;
  height: 430px;
  position: absolute;
  top: 5px;
  right: 5;
  left: 1px;
  z-index: 1;
  transform: rotate(2deg);
} */

.img:hover {
  transform: translate(-3px, -3px);
}

.img img {
  width: 80%;
  border: 4px solid black;
  transform: rotate(2deg);
  /* position: relative; */
  box-shadow: 10px 10px 0px -3px black;
-webkit-box-shadow: 10px 10px 0px -3px rgba(0,0,0,1);
-moz-box-shadow: 10px 10px 0px -3px rgba(0,0,0,0.75);
}

.FEATURED {
  position: absolute;
  color: white;
  background-color: #fd1114;
  border: 1px solid black;
  top: 0;
  right: 85;
  transform: rotate(10deg);
  z-index: 1;
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,0.75);
  -webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,0.75);
  -moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,0.75);
  padding: 5px;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}
.FEATURED{
  /* height: 50px; */
  /* height: 25px; */
  /* padding: 2px; */
  /* padding: 2px;/ */
  font-size: 15px;
  box-shadow: 10px 10px 0px -1px rgba(13,12,12,1);
}
.FEATURED p {
  margin: 0;
  /* height: 25px; */
  /* padding: 2px; */
  
}

/* .FEATURED::after {
  content: "";
  border: 5px solid black;
  border-left: none;
  border-top: none;
  width: 85px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
} */

.square2 {
  height: 100px;
  width: 100px;
  position: absolute;
  top: -95;
  /*left: 0;
  */
  right: 95;
  background-color: lightcoral;
  transform: rotate(35deg);
  opacity: 0.2;
  /*z-index: -1;*/
}

/* ******************************************************end-right-content****************************************************************** */

/* *************************************************end-section-one********************************************** */

/* **************************************************section-two********************************************************* */

.second-section {
  padding-top: 100px;
}

.second-section .container {
  /* display: flex; */
}

.flex1 {
  display: flex;
  flex-wrap: wrap;
}
.head1 {
  width: 55%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.head h2 {
  margin: 0;
  /* padding: 0; */
}

.fresh {
  position: relative;
  background-color: black;
  color: white;
  transform: rotate(5deg);
  height: 55px;
  /* padding: 2px; */
}

.fresh p {
  /* height: 20px; */
  /* margin: 0; */
}
.fresh::before {
  content: "";
  /* background-color: black; */
  border: 5px solid black;
  border-left: none;
  border-top: none;
  width: 150px;
  height: 50px;
  position: absolute;
  top: 2;
  left: 0;
  z-index: 2;
}

.all-cards img {
  /* width: 25%; */
}

.all-cards {
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  /* width: 55%; */
}

.all-cards11 {
  display: flex;
  flex-direction: column;
  width: 55%;
  /* justify-content: space-around; */
}

.card {
  padding: 20px;
  display: flex;
  border: 2px black solid;
  position: relative;
  margin-bottom: 20px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}


.all-cards11 .card:nth-child(1)::after{
  content: "";
  top: 0;
  right: -5;
  /* left: 200; */
  position: absolute;
  width: 100%;
  height: 225px;
  /* background-color:black; */
  border: 5px solid black;
  border-left: none;
  border-top: none;
  z-index: -1;
}



.all-cards11 .card:nth-child(2)::after{
  content: "";
  top: 0;
  right: -5;
  /* left: 200; */
  position: absolute;
  width: 100%;
  height: 225px;
  border: 5px solid black;
  border-left: none;
  border-top: none;
  z-index: 3;
}





.all-cards11 .card:nth-child(3)::after{
  content: "";
  top: 0;
  right: -5;
  /* left: 200; */
  position: absolute;
  width: 100%;
  height: 225px;
  border: 5px solid black;
  border-left: none;
  border-top: none;
  z-index: 3;
}




.all-cards11 .card:nth-child(1):hover{
  transform: translate(-5px , -5px);
  
}



.all-cards11 .card:nth-child(1):hover h4{
color: #E7000B;
}

.all-cards11 .card:nth-child(2):hover{
  transform: translate(-5px , -5px);
  
}



.all-cards11 .card:nth-child(2):hover h4{
color: #155DFC;
}

.all-cards11 .card:nth-child(3):hover{
  transform: translate(-5px , -5px);
  
}



.all-cards11 .card:nth-child(3):hover h4{
color: #E7000B;
}




.img-card {
  /* position: relative; */
  width: 44%;
  border: 2px black solid;
  margin-right: 10px;
  position: relative;
  height: fit-content;
}
.postion {
  position: absolute;
  top: 10;
  left: 135;
  border: 1px solid black;
  /*right: 20;
  */
  background-color: #fb2c36;
  color: white;
  transform: rotate(10deg);
}

.card-content {
  /* display: flex; */
}

.flex {
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
}



.all-cards11 .card:nth-child(2) span{
background-color:#7BF1A8 ;
border: 1px solid black;
position: relative;
}



.all-cards11 .card:nth-child(3) span{
background-color: #FDA5D5;
border: 1px solid black;
position: relative;
}




.all-cards11 .card:nth-child(1) span{
  background-color: #FFDF20;
  border: 1px solid black;
  position: relative;
}


.all-cards11 .card:nth-child(1) span::after{
content: "";
  /* background-color: black; */
  border: 3px solid black;
  border-left: none;
  border-top: none;
  width: 42px;
  height: 18px;
  position: absolute;
  /* top: 2; */
  left: 0;
  /* right: 5; */
  z-index: -1;
}


.all-cards11 .card:nth-child(2) span::after{
content: "";
  /* background-color: black; */
  border: 3px solid black;
  border-left: none;
  border-top: none;
  width: 59px;
  height: 18px;
  position: absolute;
  /* top: 2; */
  left: 0;
  /* right: 5; */
  z-index: -1;
}





.all-cards11 .card:nth-child(3) span::after{
content: "";
  /* background-color: black; */
  border: 3px solid black;
  border-left: none;
  border-top: none;
  width: 73px;
  height: 18px;
  position: absolute;
  /* top: 2; */
  left: 0;
  /* right: 5; */
  z-index: -1;
}






.all-cards11 .card:nth-child(2) .postion {
  /* left: 150; */
background-color: #2B7FFF;
}



.all-cards11 .card:nth-child(3) .postion{
  background-color: #AD46FF;
  /* left: 130; */
}

.button{
    /* background-color: black; */
  margin-top: 50px;
  align-self: center;
  position: relative;
  
}


.button button:hover{
  transform: translate(5px , 5px);
  -webkit-transform: translate(5px , 5px);
  -moz-transform: translate(5px , 5px);
  -ms-transform: translate(5px , 5px);
  -o-transform: translate(5px , 5px);
}

.button::after{
  content: "";
  border: 8px solid black;
  /* border-left: none; */
  width: 175px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}


.button button{
  background-color: black;
  color: white;
  height: 50px;
  transition:transform 0.2s ;
  
}


















.all-cards-right {
  display: flex;
  flex-direction: column;
  width: 30%;
  position: sticky;
  top: 100px;
  height: 100vh;
  
}

.card-right1 {
  border: 3px solid black;
  padding-left: 20px;
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
  /*width: 50%;*/
  /* position: sticky; */
  /* top: 100; */
  /* bottom: 100; */
}

.content-card-right1 h5 {
  margin: 0;
}

.first01 {
  display: flex;
  margin: 20px;
}




.first01 span {
  margin-right: 10px;
  color: #fb2c36;
  font-size: 30px;
  font-weight: 900;
}

.first01:hover h5{
  color: #E7000B;
}


.second02 {
  display: flex;
  margin: 20px;
}

.second02:hover h5{
  color: #155DFC;
}


.second02 span {
  margin-right: 10px;
  color: #2b7fff;
  font-size: 30px;
  font-weight: 900;
}


.third03 {
  display: flex;
  margin: 20px;
}


.third03:hover h5{
  color: #9810FA;
}


.third03 span {
  margin-right: 10px;
  color: #ad46ff;
  font-size: 30px;
  font-weight: 900;
}


.card-right {
  border: 2px black solid;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
  /* position: ; */
  /* top: 200; */
}


.TECH {
  background-color: #FEF9C2;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  position: relative;
  /*z-index: 1;*/
  transition: transform 0.3s;
}


.TECH:hover{
  transform: scale(1.05);
    background-color: #FFDF20;

}

.TECH:hover:after{
  content: "";
  width: 100%;
  height: 24px;
  /* background-color: black; */
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  /* right: 0; */
z-index: -1;
}


.DESIGN {
  background-color: #DBFCE7;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
    transition: transform 0.3s;

}




.DESIGN:hover{
  transform: scale(1.05);
  background-color: #7BF1A8;
}

.DESIGN:hover:after{
  content: "";
  width: 318px;
  height: 24px;
  /* background-color: black; */
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  /* right: 0; */
z-index: -1;
}


.CULTURE{
  background-color: #FCE7F3;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  transition: transform 0.3s;

}



.CULTURE:hover{
  transform: scale(1.05);
  background-color: #FDA5D5;
}

.CULTURE:hover:after{
  content: "";
  width: 318px;
  height: 24px;
  /* background-color: black; */
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  /* right: 0; */
z-index: -1;
}

.OPINION{
  background-color: #DBEAFE;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
    transition: transform 0.3s;

}



.OPINION:hover{
  transform: scale(1.05);
  background-color: #8EC5FF;
}

.OPINION:hover:after{
  content: "";
  width: 100%;
  height: 24px;
  /* background-color: black; */
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  /* right: 0; */
z-index: -1;
}


.TUTORIALS{
      background-color: #F3E8FF;
      margin-bottom: 10px;
      padding: 5px;
      border: 1px solid black;
      transition: transform 0.3s;
      -webkit-transition:;
      -moz-transition:;
      -ms-transition:;
      -o-transition:;
}


.TUTORIALS:hover{
  transform: scale(1.05);
  background-color: #DAB2FF;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.TUTORIALS:hover:after{
  content: "";
  width: 318px;
  height: 24px;
  /* background-color: black; */
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  /* right: 0; */
z-index: -1;
}




/* ******************************************************************end************************************************************************** */



.MEET-THE-AUTHOR{
  background-color: #FFD230;
  border: 2px black solid;
  margin-top: 20px;
  padding-top: 80px;
  position: relative;
}

.MEET-THE-AUTHOR .container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}







.square3{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50;
  /*left: 40;
  */right: 50;
  background-color: black;
  transform: rotate(30deg);
  opacity: 0.2;
  z-index: 1;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}


.title{
  /* display: flex; */
  /* text-align: center; */
  align-self:center;
  position: relative;
  margin-bottom: 20px;
}

.title p::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 60;
  width: 100px;
  height: 5px;
  background-color: black;
}




.all-cards2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  /* height: fit-content; */
}

.all-cards2 .card1:nth-child(1){
  background-color: #FEF9C2;
  /* position: relative; */
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
}

/* .all-cards2 .card1:nth-child(1)::after{
  content: "";
  position: absolute;
  top: 9;
  left: 10;
  width:355px;
  height: 395px;
  border: 5px solid black;
  border-top:none ;
  border-left:none ;
} */

.all-cards2 .card1:nth-child(2){
  background-color:#DBFCE7;
  /* position: relative; */
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
}


/* .all-cards2 .card1:nth-child(2)::after{
  content: "";
  position: absolute;
  top: 9;
  left: 10;
  width:355px;
  height: 395px;
  border: 5px solid black;
  border-top:none ;
  border-left:none ;
} */




.all-cards2 .card1:nth-child(3){
  background-color:#FCE7F3;
  /* position: relative; */
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
}


/* .all-cards2 .card1:nth-child(3)::after{
  content: "";
  position: absolute;
  top: 9;
  left: 10;
  width:355px;
  height: 395px;
  border: 5px solid black;
  border-top:none ;
  border-left:none ;
} */


.card1{
  width: 30%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 35px;
  position: relative;
  /* height: fit-content; */
  transition:transform 0.3s ;
  -webkit-transition:transform 0.3s ;
  -moz-transition:transform 0.3s ;
  -ms-transition:transform 0.3s ;
  -o-transition:transform 0.3s ;
}

.card1:hover{
  transform: translate(-5px , -5px);
  -webkit-transform: translate(-5px , -5px);
  -moz-transform: translate(-5px , -5px);
  -ms-transform: translate(-5px , -5px);
  -o-transform: translate(-5px , -5px);
}

.all-cards2 .card1:nth-child(1):hover h4{
  color: red;
}

.all-cards2 .card1:nth-child(1) span{
  position: absolute;
  top: 20;
  right: 20;
  background-color: #FB2C36;
  color: white;
  transform: rotate(10deg);
  padding: 5px;
  border: 1px solid black;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}



.all-cards2 .card1:nth-child(2) span{
  position: absolute;
  top: 20;
  right: 20;
  background-color: #2B7FFF;
  color: white;
  transform: rotate(10deg);
  padding: 5px;
  border: 1px solid black;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}
.all-cards2 .card1:nth-child(2):hover h4{
  color: #155DFC;
}



.all-cards2 .card1:nth-child(3) span{
  position: absolute;
  top: 20;
  right: 20;
  background-color: #AD46FF;
  color: white;
  transform: rotate(10deg);
  padding: 5px;
  border: 1px solid black;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.all-cards2 .card1:nth-child(3):hover h4{
  color: #9810FA;
}

.image{
  width: 40%;
  border: 3px solid black;
  /* display: flex; */
  align-self: center;
}

.image img{
  /* align-self: center; */
}

.all-cards2-content{
  display: flex; 
  flex-direction: column;  
  /* justify-content: center; */
  align-items: center;
  /* align-self: center; */
}


.links{
  display: flex;
  justify-content: space-between;
}



.fa-square-twitter{
  
}


/* .fa-square-twitter:hover{
  transform: scale(1.05);
  background-color: #DAB2FF;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.fa-square-twitter:hover:after{
  content: "";
  width: 318px;
  height: 24px;
  background-color: black;
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  right: 0;
  z-index: -1;
} */




.fa-linkedin{
  
}



/* .fa-linkedin:hover{
  transform: scale(1.05);
  background-color: #DAB2FF;
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
} */

/* .fa-linkedin:hover:after{
  content: "";
  width: 318px;
  height: 24px;
  background-color: black;
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  right: 0;
  z-index: -1;
} */



.fa-square-instagram{
  /* font-size: 20px; */
  /* background-color: black; */
  /* color: white; */
  /* position: relative; */
}


/* .fa-square-instagram:hover{
  transform: scale(1.05);
  font-size: 30px;
  background-color: #DAB2FF;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
} */

/* .fa-square-instagram:hover:after{
  content: "";
  width: 318px;
  height: 24px;
  background-color: black;
  border: 5px black solid;
  border-top:none ;
  border-left:none ;
  position: absolute;
  top: 5;
  left: 5;
  right: 0;
  z-index:3 ;
} */



/* **************************************************************end**************************************************************************** */



.JOIN-THE-REBELLION{
  margin-top: 50px;
}


.JOIN-THE-REBELLION .container{
  /* display: flex; */
}


.all-join{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.title2{
  display: flex;
  flex-direction: column;
  /* align-self:center; */
  align-items: center;
  position: relative;
}

.title2 p::after{
  content: "";
  position: absolute;
  bottom: 0;
  right: 550px;
  /* left: 0; */
  width: 100px;
  height: 5px;
  background-color: black;
}


.BECOME-PART-OF-SOMETHING-BIGGER{
  width: 40%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}



.WHAT-REBELS-ARE-SAYING{
  width: 50%;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 3px black solid;
  margin-top: 20px;
  padding: 20px;
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
  /* align-items: end; */
}

.all{
  /* margin-bottom: 50px; */
}


.BECOME-PART-OF-SOMETHING-BIGGER:nth-child(1) h4{
  font-size: 30px;
}

.title-of-lift-content p{
  /* background-color: ; */
  border: 2px black solid;
  padding: 10px;
  line-height: 30px;
  position: relative;
  box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-webkit-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
-moz-box-shadow: 10px 10px 0px -4px rgba(13,12,12,1);
}


/* .title-of-lift-content p::after{
  content: "";
  width: 484px;
  height: 109px;
  position: absolute;
  top: 3;
  left: 3;
  border: 4px black solid;
  border-top: none;
  border-left: none;
} */


.fa-check{
  color: white;
  background-color: #FB2C36;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin-right: 10px;
  border: 2px solid black;
}



.fa-discord{
color: white;
  background-color: #2B7FFF;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin-right: 10px;
  border: 2px solid black;
}



.all .fa-star{
  color: white;
  background-color: #AD46FF;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin-right: 10px;
  border: 2px solid black;
}



.fa-pencil{
  color: white;
  background-color: #00C951;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin-right: 10px;
  border: 2px solid black;
}

.btn00{
  margin-top: 50px;
  position: relative;
}
.btn00 button{
  width: 50%;
  color: white;
  background-color: black;
  height: 50px;
    transition:transform 0.2s ;

}


.btn00 button:hover{
  transform: translate(5px , 5px);
  -webkit-transform: translate(5px , 5px);
  -moz-transform: translate(5px , 5px);
  -ms-transform: translate(5px , 5px);
  -o-transform: translate(5px , 5px);
}

.btn00::after{
  content: "";
  border: 8px solid black;
  /* border-left: none; */
  width: 229px;
  height: 34px;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -1;
}


.inner-card{
  border: 2px black solid;
  margin-bottom: 10px;
  padding: 10px;
  /* width: 50%; */
}


.inner-card-content{
  display: flex;
  flex-wrap: wrap;
}
.inner-card-img{
  width: 10%;
  align-self:flex-end;
  margin-right: 10px;
}

.inner-card-img img{
  border: 2px solid black;
}




.WHAT-REBELS-ARE-SAYING .inner-card:nth-of-type(1) {
  background-color: #FEF2F2;
}


.WHAT-REBELS-ARE-SAYING .inner-card:nth-of-type(2) {
  background-color: #EFF6FF;
}



.WHAT-REBELS-ARE-SAYING .inner-card:nth-of-type(3) {
  background-color: #FAF5FF;
}



/* ********************************************************************end************************************************************** */


.footer-section{
  background-color: black;
  color: white;
  padding: 50px 0;
  margin-top: 50px ;
}

.footer-section-inner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




.first-content{
  width: 30%;
  display: flex;
  flex-direction: column;
}



.fa-pen-nib{
  /* color: white;
  background-color: #FB2C36;
  height: 40px;
  padding: 10px;
  width: 40px;
  margin-right: 10px;
  border: 2px solid black; */
  
}


.fa-pen-nib1{
  color: black;
  width: 50px;
  padding: 10px;
  font-size: 25px;
  height: 50px;
  margin-right: 20px;
  background-color: white ;
}


.the-ux-review{
  display: flex;
}


.second-content ul{
  display: flex;
  flex-direction: column;
  gap: 16px;
 
}
.second-content li{
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}

.second-content li:hover{
color: yellow;
}




.copyright{
  display: flex;
  justify-content: space-between;
}



.copyright-info{
  /* display: flex; */
  /* justify-content: space-between; */
}


.links-info a{
  color: white;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}

.links-info a:hover{
  color: yellow;
}

.links-info ul{
  gap: 16px;
  display: flex;
  align-items: end;
  justify-content: end;
  align-self: flex-end;
}



.third-content{
  width: 30%;
  display: flex;
  gap: 16px;
  flex-direction: column;
}


.third-content input{
  height: 50px;
}

.third-content button{
  height: 50px;
  background-color: #FFDF20;
  transition: transform 0.3s;
  margin-bottom: 20px;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}

.third-content button:hover{
  transform: translate(5px , 5px);
  -webkit-transform: translate(5px , 5px);
  -moz-transform: translate(5px , 5px);
  -ms-transform: translate(5px , 5px);
  -o-transform: translate(5px , 5px);
}