div img{
    width: 100%;
    height: 100%;
    display: block;
}

body{
    margin: 0;
    /* height:100vh; */
}
.parent{
    display: grid;
    grid-template-areas: 
    "child-1 child-1 child-1 child-1 child-2 child-2 child-2 child-2 child-2 child-2 child-3 child-3" 
    "child-4 child-4 child-4 child-4 child-6 child-6 child-5 child-5 child-5 child-5 child-3 child-3"
    ;
    height: 100vh;
    grid-template-rows: repeat(2,50vh);
}



.child-1{
    grid-area: child-1;
}

.child-2{
    grid-area:child-2;
}


.child-3{
    grid-area: child-3;
}

.child-4{
    grid-area: child-4;
}

.child-5{
    grid-area: child-5;
}

.child-6{
    grid-area: child-6;
}